
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header>
    <div class="w3-container">
    <h1><b>Trips</b></h1>
    </div>
  </header>
<!-- grid -->

  <div class="w3-row-padding " *ngFor="let trip of tripsList">
    <div class="w3-container w3-margin-bottom ">
      <div class="w3-card w3-container w3-light-grey" routerLink="{{ trip.id }}/detail">
        <p><b>{{ trip?.trip_name }}</b></p>
        <p>{{ trip?.trip_description }}</p>
        <p>{{ trip?.trip_start_location }}</p>
        <p>{{ trip?.trip_start_date }}</p>
        <p>{{ trip?.trip_end_location }}</p>
        <p>{{ trip?.trip_end_date }}</p>
      </div>
    </div>
  </div>

</div>
